{
    "particulate_matter": [
        {
            "type": "NEXTPM",
            "ports": [
                "/dev/ttyAMA0",
                "/dev/ttyAMA2"
            ]
        }
    ],
    "air_sensor": [
        {
            "type": "BME280",
            "i2c_buses": [
                [
                    1,
                    119
                ],
                [
                    2,
                    119
                ]
            ]
        }
    ],
    "co2_sensor": [
        {
            "type": "SCD30",
            "i2c_buses": [
                [
                    1
                ],
                [
                    2
                ]
            ]
        }
    ]
}